<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">Travel App</a>
  </nav>
  <main class="container w-50">
    <section>
      <h1>Add a Trip</h1>
      <form id="tripForm">
        <div class="form-group">
          <label for="tripDestInput">Trip Destination</label>
          <input type="text" class="form-control" placeholder="Enter destination city. eg. Paris">
        </div>
        <div class="form-group">
          <label for="tripDateInput">Trip Date</label>
          <input type="date" class="form-control" id="trip-date">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </section>
    <hr class='mb-4'>
    <h1>Planned Trips</h1>
    <!-- Content to be added dynamically -->
    <section id="trips"></section>
  </main>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>