<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">Travel App</a>
  </nav>
  <main class="container w-50">
    <section>
      <h1>Add a Trip</h1>
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Trip Destination</label>
          <input type="text" class="form-control" id="trip-dest" placeholder="Enter destination city. eg. Paris">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Trip Date</label>
          <input type="date" class="form-control" id="trip-date">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </section>
    <hr class='mb-4'>
    <h1>Planned Trips</h1>
    <!-- Content to be added dynamically -->
    <!-- 
      <section>
      <div class="card mb-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg"
          class="card-img" alt="Paris">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </section>
     -->
  </main>
</body>

</html>